body{
    height:100%;
    width:100%;
    background-color: #F0EDCC;
}
.lion{
    width:400px;
    height:400px;
    display:block;
    margin:20px auto;
    transform: translateX(-8%);
    fill:#02343F;
    
}
.lion path{
}
.btn{
    display:block;
    border:2px solid #02343F;
    color:#02343F ;
    margin:15px auto 0;
    font-weight: 700;
    transform: translateX(-10px);
}
.btn:hover{
    border:none;
    background-color: #02343F;
    color:#F0EDCC ;
}
.hair, .head, .eye{
    animation:hello 5s linear infinite;
}
.cloth{
    animation:change 8s linear infinite;
}
@keyframes hello{
    0%{transform: rotateX(0deg);}
    50%{transform: rotateX(30deg);}
    100%{transform: rotateX(0deg);}
}
/* @keyframes change{
    0%{fill: #F0EDCC;}
    50%{fill:#02343F;}
} */
@media (max-width: 767px) {
    .lion{
        width:300px;
        height:300px;
    }
}